@page
@model Jeas_Trycksaker.Pages.Categories.ClothesModel
@{
}

<h1 class="margin-class">Kläder</h1>
<hr class="landing-headline" />


<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/Kläder/mössa.jpeg" alt="Mössa" />
        <div class="card-text">
            <p>Mössa med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Kläder/tröja-wednesday.jpeg" alt="T-shirt" />
        <div class="card-text">
            <p>T-shirt med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Kläder/barn-body2.jpeg" alt="Barn body" />
        <div class="card-text">
            <p>Body med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Kläder/barn-body.jpeg" alt="Barn body med eget tryck" />
        <div class="card-text">
            <p>Barn body med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/Kläder/barn-mössa.jpeg" alt="Barn mössa med eget tryck" />
        <div class="card-text">
            <p>Barn mössa med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/Kläder/barn-vantar.jpeg" alt="Barn vantar med eget tryck" />
        <div class="card-text">
            <p>Barn vantar med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Kläder/Messenger_creation_9c6c33e5-41e6-404e-a48e-fdeab5bcee2b.jpeg" alt="T-shirt" />
        <div class="card-text">
            <p>T-shirt med tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Kläder/kläder-bebis.jpeg" alt="T-shirt" />
        <div class="card-text">
            <p>T-shirt med tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
</div>