@page
@model Jeas_Trycksaker.Pages.Categories.ClothesModel
@{
}

<h1 class="margin-class">Kläder</h1>
<hr class="landing-headline"/>

<div class="grid">
    <img class="image-crop" src="/images/mössa.jpeg" />
    <img class="image-crop" src="/images/tröja-wednesday.jpeg" />

</div>