@page
@model Jeas_Trycksaker.Pages.Categories.CupsModel
@{
}

<h1 class="margin-class">Koppar och muggar</h1>
<div class="grid">
<img class="image-crop" src="/images/kopp-elefant.jpeg" />
<img class="image-crop" src="/images/kopp-lejon.jpeg" />
<img class="image-crop big-image" src="/images/kopp-vålnad.jpeg" />
    <img class="image-crop big-image" src="/images/kopp-pappa.jpeg" />
    <img class="image-crop big-image" src="/images/kopp-latte.jpeg" />
</div>
