@page
@model Jeas_Trycksaker.Pages.Categories.CupsModel
@{
}

<h1 class="margin-class">Koppar och muggar</h1>

<img src="" />
<img src="../images/kopp-lejon.jpeg" />
<img src="../images/kopp-vålnad.jpeg" />