@page
@model Jeas_Trycksaker.Pages.Categories.CupsModel
@{
}

<h2 class="margin-class landing-headline">Koppar och muggar</h2>
<hr class="landing-headline" />

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/kopp-elefant.jpeg" alt="Elefant kopp" />
        <div class="card-text">
            <p>Latte kopp Elefant</p>
            <p>Pris: 150 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/kopp-lejon.jpeg" alt="Lejon kopp" />
        <div class="card-text">
            <p>Latte kopp Lejon</p>
            <p>Pris: 150 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/kopp-vålnad.jpeg" alt="Vålnad kopp" />
        <div class="card-text">
            <p>Kopp med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
</div>