@page
@model Jeas_Trycksaker.Pages.Categories.KidsModel
@{
}

<h1 class="margin-class">Barn och baby</h1>
<hr class="landing-headline"/>

<div class="grid">
    <div class="image-container">
        <img class="image-crop" src="/images/barn-body.jpeg" />
        <div class="text-container">
            <p>Barn body med eget tryck</p>
            <p>Pris: 50kr</p>
        </div>
    </div>

    <div class="image-container">
        <img class="image-crop" src="/images/barn-mössa.jpeg" />
        <div class="text-container">
            <p>Barn mössa med eget tryck</p>
            <p>Pris: XXkr</p>
        </div>
    </div>

    <div class="image-container">
        <img class="image-crop" src="/images/barn-vantar.jpeg" />
        <div class="text-container">
            <p>Barn vantar med eget tryck</p>
            <p>Pris: XXkr</p>
        </div>
    </div>
</div>
