@page
@model Jeas_Trycksaker.Pages.Categories.KidsModel
@{
}

<h1 class="margin-class">Barn och baby</h1>

<div class="grid">
    <img class="image-crop" src="/images/barn-body.jpeg" />
    <img class="image-crop" src="/images/barn-body2.jpeg" />
    <img class="image-crop big-image" src="/images/barn-body3.jpeg" />
    <img class="image-crop big-image" src="/images/barn-mössa.jpeg" />
    <img class="image-crop big-image" src="/images/barn-snuttis.jpeg" />
    <img class="image-crop big-image" src="/images/barn-vantar.jpeg" />
</div>