@page
@model Jeas_Trycksaker.Pages.Categories.KidsModel
@{
}

<h2 class="margin-class landing-headline">Barn och baby</h2>
<hr class="landing-headline" />

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/barn-body.jpeg" alt="Barn body med eget tryck" />
        <div class="card-text">
            <p>Barn body med eget tryck</p>
            <p>Pris: 50kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/barn-mössa.jpeg" alt="Barn mössa med eget tryck" />
        <div class="card-text">
            <p>Barn mössa med eget tryck</p>
            <p>Pris: 50kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/barn-vantar.jpeg" alt="Barn vantar med eget tryck" />
        <div class="card-text">
            <p>Barn vantar med eget tryck</p>
            <p>Pris: 50kr</p>
        </div>
    </div>
</div>

