@page
@model Jeas_Trycksaker.Pages.Categories.OthersModel
@{
}

<h1 class="margin-class">Övrigt</h1>
<hr class="landing-headline"/>

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/barn-snuttis.jpeg" alt="Snuttis" />
        <div class="card-text">
            <p>Snutte med eget tryck</p>
            <p>Pris: 150 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/IMG_6986.jpg" alt="Kakelplatta" />
        <div class="card-text">
            <p>Kakelplatta med eget tryck</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Messenger_creation_274ff593-29b6-4348-9b90-551697d17dba.jpeg" alt="Slips" />
        <div class="card-text">
            <p>Slips med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Messenger_creation_0f50216e-eb12-436e-9885-e5e15f522303.jpeg" alt="Disktrasa" />
        <div class="card-text">
            <p>Disktrasa med eget tryck</p>
            <p>Pris: 30 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/övrigt-disktrasa.jpeg" alt="Disktrasa" />
        <div class="card-text">
            <p>Disktrasa med eget tryck</p>
            <p>Pris: 30 kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/Messenger_creation_738e8c66-92a6-45ee-9bc9-b28ecff78fe9.jpeg" alt="Munskydd" />
        <div class="card-text">
            <p>Munskydd med eget tryck</p>
            <p>Pris: 30 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Messenger_creation_545381dc-2bae-4214-b96c-66e8849045f9.jpeg" alt="Munskydd" />
        <div class="card-text">
            <p>Munskydd med eget tryck</p>
            <p>Pris: 30 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Messenger_creation_7172d90b-0b49-4ee1-89c3-5aeb46b88e08.jpeg" alt="Isskrapa" />
        <div class="card-text">
            <p>Isskrapa med eget tryck</p>
            <p>Pris: 30 kr</p>
        </div>
    </div>
</div>