@page
@model Jeas_Trycksaker.Pages.Categories.TygkasseModel
@{
}

<h1 class="margin-class">Tygkassar</h1>
<hr class="landing-headline"/>

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/Tygkasse/thumbnail_IMG_8385.jpg" alt="Tygkasse" />
        <div class="card-text">
            <p>Tygkasse med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>    
        <div class="card">
        <img class="card-image" src="/images/Tygkasse/thumbnail_IMG_8380.jpg" alt="Tygkasse" />
        <div class="card-text">
            <p>Tygkasse med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
        <div class="card">
        <img class="card-image" src="/images/Tygkasse/thumbnail_IMG_8381.jpg" alt="Tygkasse" />
        <div class="card-text">
            <p>Tygkasse med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/IMG_2693.jpg" alt="Tygkasse" />
        <div class="card-text">
            <p>Tygkasse med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Tygkasse/IMG_7849.jpg" alt="Tygkasse" />
        <div class="card-text">
            <p>Tygkasse med eget tryck</p>
            <p>Pris: 50 kr</p>
        </div>
    </div>
</div>