@page
@model Jeas_Trycksaker.Pages.Betong.BlandatModel
@{
}


<h2 class="margin-class landing-headline">Blandat</h2>
<hr class="landing-headline" />

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/Betong/IMG_2277.jpg" alt="Betong" />
        <div class="card-text">
            <p>Blomkruka i betong</p>
            <p>Pris: 500 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Betong/IMG_2285.jpg" alt="Betong" />
        <div class="card-text">
            <p>Fruktfat i betong</p>
            <p>Pris: 300 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Betong/thumbnail_IMG_2796.jpg" alt="Betong" />
        <div class="card-text">
            <p>Ljushållare i betong</p>
            <p>Pris: 250 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Betong/IMG_2283.jpg" alt="Betong" />
        <div class="card-text">
            <p>Fågelbad i betong</p>
            <p>Pris: 200 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Betong/IMG_2278.jpg" alt="Betong" />
        <div class="card-text">
            <p>Ljusstake i betong</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Betong/IMG_2279.jpg" alt="Betong" />
        <div class="card-text">
            <p>Staty i betong</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>

</div>