@page
@model Jeas_Trycksaker.Pages.ContactModel
@{
}

<div class="contact-margin-class">
    <h1 class="margin-class landing-headline">
        <a class="custom-btn contact-button" href="https://www.facebook.com/profile.php?id=100062972182465" target="_blank">
            Kontakta mig via Messenger
        </a>
    </h1>
    <h1 class="margin-class landing-headline">
        <a class="custom-btn contact-button" href="mailto:jeanette.ivering@gmail.com" target="_blank">
            Kontakta mig via mail
        </a>
    </h1>
</div>
