@page
@model Jeas_Trycksaker.Pages.ContactModel
@{
}

<form method="post">
    <div class="margin-class">
        <label for="message">Meddelande:</label><br />
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
    </di>
    <div>
        <button type="submit">Skicka meddelande</button>
    </div>
</form>