@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="margin-class">Välkommen till Jeas Trycksaker!</h2>
<p>Jag erbjuder tryck på kläder, muggar och mycket annat! Jag har även möjligheten att utföra etsning på glas!</p>
<p>Om du är intresserad så hör av dig till mig med en idé på design så hjälper jag dig att komma fram till en slut produkt!</p>
<p>Min Email : </p>
