@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="margin-class landing-headline">Välkommen till Jeas Trycksaker!</h2>
<hr class="landing-headline"/>

<div class="flex-item image-flex mt-5">
    <img class="image-1" src="~/images/kopp-elefant.jpeg" />
     <img class="image-2" src="~/images/kopp-loveyou.jpg" />
    <img class="image-3" src="~/images/kopp-lejon.jpeg"/>


</div>

<div style="text-align: center;">
<p class="landing-p">Ovan ser du ett axplock av beställda produkter.</p>
<p class="landing-p">Jag erbjuder tryck på mössor, vantar, t-shirts, muggar, tygkassar med mera. </p>
<p class="landing-p">Om du är intresserad så hör av dig till mig med en idé på en design så hjälper jag dig att komma fram till en slut produkt!</p>
<p class="landing-p">Min Email : jeanette.ivering@gmail.com</p>
</div>

