@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="margin-class landing-headline">Välkommen till Jeas!</h2>
<hr class="landing-headline" />

<div class="grid">
    <div class="card">
        <img class="card-image" src="~/images/kopp-elefant.jpeg" alt="Elefant" />
    </div>
    <div class="card">
        <img class="card-image" src="~/images/kopp-lejon.jpeg" alt="Lejon" />
    </div>
    <div class="card">
        <img class="card-image" src="~/images/kopp-loveyou.jpg" alt="Love you" />
    </div>
</div>

<div style="text-align: center;">
    <p class="landing-p">Ovan ser du ett axplock av beställda produkter.</p>
    <p class="landing-p">Jag erbjuder tryck på mössor, vantar, t-shirts, muggar, tygkassar med mera. </p>
    <p class="landing-p">Om du är intresserad så hör av dig till mig med en idé på en design så hjälper jag dig att komma fram till en slut produkt!</p>
    <p class="landing-p">Kontakt: Facebook, Email eller Instagram</p>
</div>

