@page
@model Jeas_Trycksaker.Pages.Virkning.MjukisdjurModel
@{
}

<h2 class="margin-class landing-headline">Mjukis djur</h2>
<hr class="landing-headline" />


<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2138.jpg" alt="Lejon" />
        <div class="card-text">
            <p>Virkat lejon</p>
            <p>Pris: 350 kr</p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2142.jpg" alt="Groda" />
        <div class="card-text">
            <p>Virkad groda</p>
            <p>Pris: 350 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2137.jpg" alt="Enhörning" />
        <div class="card-text">
            <p>Virkad enhörning</p>
            <p>Pris: 350 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_1840.jpg" alt="Kossa" />
        <div class="card-text">
            <p>Virkad kossa</p>
            <p>Pris: 250 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2139.jpg" alt="Får" />
        <div class="card-text">
            <p>Virkat får</p>
            <p>Pris: 250 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2140.jpg" alt="Drake" />
        <div class="card-text">
            <p>Virkad drake</p>
            <p>Pris: 250 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2141.jpg" alt="Mumin" />
        <div class="card-text">
            <p>Virkad mumin</p>
            <p>Pris: 250 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_1142.jpg" alt="Kanin" />
        <div class="card-text">
            <p>Virkad kanin</p>
            <p>Pris: 200 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2136.jpg" alt="Nyckelpiga" />
        <div class="card-text">
            <p>Virkad nyckelpiga</p>
            <p>Pris: 200 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_0763.jpg" alt="Bläckfisk" />
        <div class="card-text">
            <p>Virkad bläckfisk</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_0860.jpg" alt="Bobo" />
        <div class="card-text">
            <p>Virkad Bobo</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2074.jpg" alt="Ugglor" />
        <div class="card-text">
            <p>Virkade ugglor</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_0882.jpg" alt="Pingvin" />
        <div class="card-text">
            <p>Virkad pingvin</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_0992.jpg" alt="Bläckfisk" />
        <div class="card-text">
            <p>Virkad bläckfisk</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
  
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_1467.jpg" alt="Orm" />
        <div class="card-text">
            <p>Virkad orm</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_1694.jpg" alt="Sovande uggla" />
        <div class="card-text">
            <p>Virkad sovande uggla</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2131.jpg" alt="Anka" />
        <div class="card-text">
            <p>Virkad anka</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Mjukisdjur/thumbnail_IMG_2135.jpg" alt="Uggla" />
        <div class="card-text">
            <p>Virkad uggla</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>



</div>