@page
@model Jeas_Trycksaker.Pages.Virkning.NapphållareModel
@{
}

<h2 class="margin-class landing-headline">Napphållare</h2>
<hr class="landing-headline" />

<div class="grid">
    <div class="card">
        <img class="card-image" src="/images/Napphållare/thumbnail_IMG_2148.jpg" alt="Napphållare" />
        <div class="card-text">
            <p>Virkad napphållare</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/Napphållare/thumbnail_IMG_2179.jpg" alt="Napphållare" />
        <div class="card-text">
            <p>Virkad napphållare</p>
            <p>Pris: 100 kr</p>
        </div>
    </div>
</div>